{% block content %}
<h1>Repository of Supported Applications</h1>

<p>ROSA is a web application for browsing and querying information
about NASA HQ applications, including application description, support
team, security compliance, architecture and interface(s) for current
applications, applications in development and archived
applications. Key reports such as the Applications Pipeline and
Release Planner are available to all authorized users as well as a
sampling of graphic reports currently provided in the Application
Monthly Review (AMR).</p>

<h2>What's New in ROSA? </h2>

<p>Version 2.0 is written from scratch in Django. It uses Twitter
Bootstrap for a "responsive" user interface that gracefully resizes
for different platforms (desktop, mobile). It uses a serverless
database SQLite or the PostgreSQL database.</p>
{% endblock %}
