{% extends "base.html" %}
{% block content %}
<h1>Applications and Versions</h1>

<table class="table">

  <thead>
    <tr>
      <th>Acronym</th>
      <th>Versions</th>
    </tr>
  </thead>

  <tbody>
    {% for acro, apps in application_versions.items %}
    <tr>
      <td>{{acro}}</td>
      <td>
        {% for appver in apps %}
        <a href="{% url app_details object_id=appver.id %}">{{appver.release}}</a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}

  </tbody>

</table>

{% endblock %}
